.hero {
  width: 1110px;
  height: 520px;
  margin-top: 100px;
}
.choy {
  display: flex;
  justify-content: space-between;
  margin-left: 125px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 125px;

  p {
    margin-top: 32px;
  }
}
