.temp{
    margin-top: 200px;
}
.c-wrapper {
    display: flex;
    align-items: center;
    margin-top: 82px;
  
    .blok1 {
      width: 285px;
      margin-right: 96px;
      height: 355px;
  
      h3 {
        font-size: 90px;
        color: #fdd6ba;
      }
  
      h2 {
        width: 229px;
        margin-top: 38px;
        font-size: 32px;
      }
  
      p {
        margin-top: 42px;
        width: 150px;
        line-height: 26px;
      }
    }
  }
  